.box{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.box-style{
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 14px;
    border: 2px solid;
    /* padding: 1px; */
    width: 80%;
    margin: auto;
    background-color: #FD5502;
    /* opacity: 0.9; */
    padding: 10px;
}

.card{
    height: 380px;
    margin: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgb(0 0 0 / 39%);
    border-radius: 0.25rem;
    }


#header{
    text-align: center;
    font-size: 29px;
    font-weight: 500;
    margin-top: 10px;
}



#logo{
    height: 45px;
    width: 160px;
}

#logo-container{
    text-align: center;
    margin-top: 50px;
}

#footer{
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    margin-top: 10px;
}